{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  {% block head_content %}{% endblock %}

  <!-- CSS -->
  <link href="{% static "vendor/fontawesome-free/css/all.css" %}" rel="stylesheet" type="text/css">
  <link href="{% static "css/font-family.css" %}" rel="stylesheet">
  <link href="{% static "css/sb-admin-2.css" %}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">
  <!-- Login Container -->
  {% block container %}{% endblock%}
</body>

<!-- JavaScript-->
<script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
<script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "vendor/jquery-easing/jquery.easing.min.js" %}"></script>
<script src="{% static "js/sb-admin-2.js" %}"></script>

</html>
